        <!-- Masthead -->
        <div id="masthead" class="masthead">
            <div class="logo"><a href="/"><svg><use xlink:href="/assets/icons/collective-logo.svg#collective-logo"></use></svg></a></div>
            <div class="nav">
                <div class="primary-nav">
                    <a href="/work/">Work</a>
                    <a href="/about/">About</a>
                    <a href="/news/">News</a>
                </div>
                <a href="#" id="overlay-toggle" class="overlay-toggle"><div class="menu-icon"><span class="line"></span><span class="line"></span><span class="line"></span></div></a>
            </div>
        </div>