# ----------------------------------------------------------------------
# Password protect stage
# ----------------------------------------------------------------------

SetEnvIf Host preprod.collectiveoffice.com staging
AuthType Basic
AuthName "Under Construction"
AuthUserFile /storage/av06625/www/public_html/.htpasswd
Require valid-user
Order allow,deny
Allow from all
Deny from env=staging
Satisfy any


# ----------------------------------------------------------------------
# Force HTTP
# ----------------------------------------------------------------------


RewriteEngine On
RewriteCond %{HTTPS} on
RewriteRule (.*) http://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]


# ----------------------------------------------------------------------
# Remove "www." from beginning of URLs
# ----------------------------------------------------------------------

<IfModule mod_rewrite.c>
  RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
  RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
</IfModule>


# ----------------------------------------------------------------------
# Craft Default
# ----------------------------------------------------------------------

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Send would-be 404 requests to Craft
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/(favicon\.ico|apple-touch-icon.*\.png)$ [NC]
    RewriteRule (.+) index.php?p=$1 [QSA,L]
</IfModule>
