@import 'normalize';




/*=====================================================*/
/* COLORS
/*=====================================================*/

$color-black: #000;
$color-white: #fff;
$color-magenta: #Ed2d8c;
$color-grey: #999;
$color-grey-light: #ccc;




/*=====================================================*/
/* MIXINS
/*=====================================================*/

@mixin visually-hidden                                  { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
                                                        
@mixin clearfix                                         {
                                                            &:before,
                                                            &:after { content:''; display:table; }
                                                            &:after { clear:both; }
                                                            & { *zoom:1; }
                                                        }
                                                        
@mixin hide-text                                        { text-indent: -9999px; }

@mixin caps                                             { text-transform: uppercase; letter-spacing: 0.04em; }
                                                       
@mixin reset($type: null)                               {
                                                            @if $type == spacing { margin: 0; padding: 0; }
                                                            @if $type == list { margin: 0; padding: 0; list-style: none; 
                                                                & li { margin: 0; padding: 0; }
                                                            } 
                                                            @if $type == everything { float: none; position: static; height: auto; width: auto; margin: 0; padding: 0; background-color: transparent; border: none; list-style: none; } 
                                                        }
                                                        
@mixin mq($direction,$width)                            {
                                                            @if $direction == above {
                                                                @media only screen and (min-width: $width) { @content; }
                                                            }
                                                            @if $direction == below {
                                                                @media only screen and (max-width: $width) { @content; }
                                                            }
                                                        }
                                                        
@function tint($color, $percentage)                     {
                                                            @return mix(white, $color, $percentage);
                                                        }

@function shade($color, $percentage)                    {
                                                            @return mix(black, $color, $percentage);
                                                        }
                                                        
@mixin placeholder                                      {
                                                            &:-moz-placeholder { @content; }
                                                            &::-moz-placeholder { @content; }
                                                            &:-ms-input-placeholder { @content; }
                                                            &::-webkit-input-placeholder { @content; } 
                                                        }




/**********************************************************************************************************/
/*
/*
/* THE BASICS
/*
/*
/**********************************************************************************************************/


.font-1                                                 { font-family: 'Frutiger W01', Verdana, sans-serif; line-height: 1.4; }
.font-2                                                 { font-family: 'Neue Helvetica eText W01', Arial, sans-serif; line-height: 1.4; }

*, :before, :after, hr                                  { box-sizing: border-box; }
body                                                    { -webkit-font-smoothing: antialiased; @extend .font-2; color: $color-black; background-color: $color-white; }
a,
a:link,
a:visited,
a:hover                                                 { text-decoration: none; color: inherit; }
a:focus                                                 { outline: none; }
::selection                                             { background-color: $color-magenta; }
::-moz-selection                                        { background-color: $color-magenta; }
:focus                                                  { outline: none; border: 0; }
input, textarea                                         { /* Remove rounded corners on iOS */ border-radius: 0; 
                                                            @include placeholder { opacity: 1.0; color: $color-grey; }
                                                        }
img                                                     { display: block; width: 100%; max-width: 100%; }
.hidden                                                 { display: none; }


/* Social */
a.social-button                                         { height: 40px; width: 40px; padding: 8px;
                                                            svg { height: 24px; width: 24px; fill: #ccc;
                                                                &:hover { fill: $color-magenta; }
                                                            }
                                                            &.is-instagram { }
                                                            &.is-twitter { }
                                                            &.is-houzz { }
                                                        }
                                                        

/* Type System */
.header                                                 { @extend .font-1; font-size: 18px; font-weight: normal; color: $color-magenta; 
                                                            @include mq(below,600px) { font-size: 16px; }
                                                        }
.header-big                                             { @extend .font-1; font-size: 24px; font-weight: normal; color: $color-magenta; 
                                                            @include mq(below,600px) { font-size: 21px; }
                                                        }
.subhead                                                { @extend .font-1; font-size: 14px; font-weight: 500; @include caps; color: $color-magenta; }
.subhead-small                                          { @extend .font-1; font-size: 12px; font-weight: 500; @include caps; color: $color-grey; }
.lede                                                   { @extend .font-2; font-size: 21px; font-weight: normal; color: $color-grey; 
                                                            @include mq(below,900px) { font-size: 18px; }
                                                        }
.body                                                   { @extend .font-2; font-size: 15px; font-weight: normal; color: $color-grey; 
                                                            a { border-bottom: 1px solid $color-grey-light; 
                                                                .no-touch &:hover { border-color: $color-magenta; color: $color-magenta; }
                                                            }
                                                        }
.body-big                                               { @extend .font-2; font-size: 18px; font-weight: normal; color: $color-grey; 
                                                            a { border-bottom: 1px solid $color-grey-light; 
                                                                .no-touch &:hover { border-color: $color-magenta; color: $color-magenta; }
                                                            }
                                                        }
.body-small                                             { @extend .font-2; font-size: 13px; font-weight: normal; color: $color-grey; 
                                                            a { border-bottom: 1px solid $color-grey-light; 
                                                                .no-touch &:hover { border-color: $color-magenta; color: $color-magenta; }
                                                            }
                                                        }


/* Buttons */
a.button                                                { @include reset(everything); @extend .font-2; display: block; width: 100%; max-width: 300px; margin: 20px 0; padding: 10px; background-color: $color-magenta; font-weight: bold; text-decoration: none; font-size: 12px; @include caps; text-align: center; color: $color-white; }


/* Forms */
form                                                    { max-width: 300px; margin: 40px 0; }
form .form-item                                         { margin: 20px 0; }
form label                                              { display: none; }
form input[type="email"],
form input[type="password"],
form input[type="text"]                                 { @include reset(everything); @extend .font-2; width: 100%; padding: 4px; background-color: transparent; border-bottom: 1px solid $color-grey-light; color: $color-grey; font-size: 14px;
                                                            &:focus { border-color: $color-magenta }
                                                        }
form input[type="submit"]                               { @include reset(everything); @extend .font-2; display: block; width: 100%; padding: 10px; background-color: $color-magenta; font-weight: bold; text-decoration: none; font-size: 12px; @include caps; text-align: center; color: $color-white; 
                                                            &:disabled { background-color: $color-grey; }
                                                        }




/**********************************************************************************************************/
/*
/*
/* MAKE IT PRETTY
/*
/*
/**********************************************************************************************************/



/*=====================================================*/
/* Z-INDEX Map
/*
/* .hero-slider .slider_tabs = 900
/* .masthead = 1000
/* .masthead .primary-nav = 1100
/* .masthead .logo = 1200
/* .masthead .overlay-toggle = 1300
/*=====================================================*/



/*=====================================================*/
/* BODY
/*=====================================================*/

body                                                    { padding-top: 100px; }
body.has-overlay                                        { overflow: hidden; }




/*=====================================================*/
/* Masthead
/*=====================================================*/

.masthead                                               { position: fixed; top: 0; z-index: 1000; width: 100%; background-color: $color-white; border-bottom: 1px solid rgba($color-grey, 0.2); transition: top 0.1s ease-in-out; }
.masthead-inner                                         { display: flex; flex-wrap: wrap; justify-content: space-between; align-content: center; height: 100px; max-width: 1600px; margin: 0 auto; padding: 0 100px;
                                                            @include mq(below,1200px) { padding: 0 80px; }
                                                            @include mq(below,900px) { padding: 0 60px; } 
                                                            @include mq(below,600px) { padding: 0 30px; }
                                                        }
                                                        
.masthead.is-up                                         { top: -100px; }
.masthead .logo                                         { position: relative; z-index: 1200; align-self: center; }
.masthead .logo a                                       { display: block; }
.masthead .logo svg                                     { height: 20px; width: 140px; fill: $color-magenta; color: #999;
                                                            @include mq(below,600px) {
                                                                body.has-overlay & { fill: #fff; color: #fff; } /* Ref: https://tympanus.net/codrops/2015/07/16/styling-svg-use-content-css/ */
                                                            }
                                                        }
.masthead .nav                                          { align-self: center; }
.masthead .primary-nav                                  { display: block;
                                                            @include mq(below,600px) { display: none; position: fixed; z-index: 1100; top: 0; bottom: 0; left: 0; right: 0; padding: 120px 30px 30px 30px; background-color: rgba($color-magenta, 0.9); overflow: hidden; }
                                                            body.has-overlay & { display: block; }
                                                        }
.masthead .primary-nav a                                { @extend .font-1; font-size: 14px; font-weight: 500; @include caps; color: $color-grey; margin-right: 20px;
                                                            &:last-child { margin-right: 0; }
                                                            .no-touch &:hover { @include mq(above,600px) { color: $color-magenta; } }
                                                            @include mq(below,600px) { display: block; padding: 20px 0; font-size: 24px; text-transform: none; letter-spacing: 0; color: $color-white; }
                                                        }
.masthead .overlay-toggle                               { display: none; padding: 8px;
                                                            @include mq(below,600px) { display: block; position: relative; z-index: 1300; }
                                                        }
.masthead .overlay-toggle .menu-icon                    { width: 16px; 
                                                            .line { width: 16px; height: 2px; background-color: $color-grey; display: block; margin: 2px auto; transition: all 0.25s ease-in-out; }
                                                            .no-touch &:hover { cursor: pointer; }
                                                            body.has-overlay & .line { background-color: $color-white; }
                                                            body.has-overlay & .line:nth-child(2) { opacity: 0; }
                                                            body.has-overlay & .line:nth-child(1) { transform: translateY(4px) rotate(45deg); }
                                                            body.has-overlay & .line:nth-child(3) { transform: translateY(-4px) rotate(-45deg); }
                                                        }




/*=====================================================*/
/* Footer
/*=====================================================*/

.footer                                                 { display: flex; flex-wrap: wrap; justify-content: space-between; max-width: 1600px; margin: 0 auto; padding: 0 100px 20px 100px; margin-top: 80px; 
                                                            @include mq(below,1200px) { padding: 0 80px 20px 80px; }
                                                            @include mq(below,900px) { padding: 0 60px 20px 60px; } 
                                                            @include mq(below,600px) { padding: 0 30px 10px 30px; margin-top: 60px; }
                                                        }

.footer .footer-contact                                 { display: flex; flex-basis: 50%; flex-wrap: wrap;
                                                            @include mq(below,600px) { flex-basis: 100%; }
                                                        }

.footer .footer-contact p                               { @include reset(spacing); flex-basis: 50%; font-size: 14px; color: $color-grey; 
                                                            @include mq(below,600px) { flex-basis: 100%; margin-bottom: 20px; font-size: 12px; text-align: center; }
                                                        }
                                                        
.footer .footer-social                                  { flex-basis: 50%;
                                                            @include mq(below,600px) { flex-basis: 100%; }
                                                        }
.footer .footer-social.social-buttons                   { display: flex; justify-content: flex-end; 
                                                            @include mq(below,600px) { justify-content: center; }
                                                        }                                                        
                                                        
.footer .footer-legal                                   { flex-basis: 100%; padding-top: 40px; }
.footer .footer-legal p                                 { @include reset(spacing); font-size: 10px; color: $color-grey; text-align: right; 
                                                            @include mq(below,600px) { text-align: center; }
                                                        }



/*=====================================================*/
/* Layout
/*=====================================================*/

.section                                                { max-width: 1600px; padding: 0 100px; margin: 80px auto;
                                                            @include mq(below,1200px) { padding: 0 80px; }
                                                            @include mq(below,900px) { padding: 0 60px; } 
                                                            @include mq(below,600px) { padding: 0 30px; margin: 60px auto; }
                                                        }
.section img                                            { opacity: 0.1; transition: 0.65s opacity ease-in-out;
                                                            &.is-visible { opacity: 1.0; }
                                                        }
hr                                                      { @include reset(everything); display: block; max-width: 1600px; height: 1px; padding: 0 100px; margin: 80px auto; 
                                                            @include mq(below,1200px) { padding: 0 80px; }
                                                            @include mq(below,900px) { padding: 0 60px; } 
                                                            @include mq(below,600px) { padding: 0 30px; margin: 60px auto; }
                                                            &:after { content: ''; display: block; height: 1px; background-color: $color-grey-light; }
                                                        }




/*=====================================================*/
/* Hero Image
/*=====================================================*/

.hero                                                   { height: calc(100vh - 100px); background-repeat: no-repeat; background-size: cover; background-position: center center; background-attachment: fixed; 
                                                            @include mq(below,900px) { height: 600px; background-attachment: scroll; }
                                                            @include mq(below,600px) { height: 300px; }
                                                        }





/*=====================================================*/
/* Hero Slider
/*=====================================================*/

.hero-slider                                            { position: relative; height: calc(100vh - 100px); background-color: $color-grey-light; }
.hero-slider .slides                                    { height: 100%; width: 100%; overflow: hidden; }
.hero-slider .slide                                     { -webkit-backface-visibility: hidden; display: block; height: 100%; width: 100%; background-repeat: no-repeat; background-size: cover; background-position: center center;
                                                            @include mq(below,900px) { background-attachment: scroll; }
                                                        }
/* Written for FlexSlider */
.hero-slider .slider-viewport                           { height: calc(100vh - 100px); } /* Otherwise the slider will collapse. */
.hero-slider .slider-control-nav                        { @include reset(list); display: flex; justify-content: flex-end; position: absolute; bottom: 40px; left: 40px; right: 40px; z-index: 900; }
.hero-slider .slider-control-nav li                     { margin-right: 5px;
                                                            &:last-child { margin-right: 0; }
                                                        }
.hero-slider .slider-control-nav li a                   { @include hide-text; display: block; width: 12px; height: 12px; border-radius: 50%; background-color: rgba($color-white, .5); }
.hero-slider .slider-control-nav li a.slider-active     { background-color: $color-magenta; }




/*=====================================================*/
/* Projects Filter
/*=====================================================*/

.projects-filter                                        { display: flex; }
.projects-filter a                                      { @extend .font-2; margin-right: 15px; color: $color-grey;
                                                            @include mq(below,600px) { margin-right: 10px; font-size: 12px; }
                                                            &:last-child { margin-right: 0; }
                                                            .no-touch &:hover { color: $color-magenta; }
                                                            &.active { color: $color-magenta; }
                                                        }




/*=====================================================*/
/* Projects
/*=====================================================*/

.projects                                               { display: flex; flex-wrap: wrap; margin: 0 -20px -60px -20px; 
                                                            @include mq(below,600px) { margin-bottom: -40px; }
                                                        }
.projects .entry                                        { flex-basis: 33.33%; padding: 0 20px 60px 20px; 
                                                            @include mq(below,900px) { flex-basis: 50%; }
                                                            @include mq(below,600px) { flex-basis: 100%; padding-bottom: 40px; }
                                                        }
.projects .entry h4                                     { @include reset(spacing); @extend .header; margin-top: 20px; color: $color-grey; 
                                                        }
.projects .entry img                                    { transition: .25s ease-in-out;
                                                        }
.projects .entry a                                      {
                                                            .no-touch &:hover {
                                                                h4 { text-decoration: underline; color: $color-magenta; }
                                                                img { filter: brightness(105%); }
                                                            }
                                                        }



/*=====================================================*/
/* Project Header
/*=====================================================*/

.project-header                                         { display: flex; flex-wrap: wrap; }
.project-header .title                                  { flex-basis: 33.33%; padding-right: 20px; 
                                                            @include mq(below,600px) { flex-basis: 100%; padding: 0; margin-bottom: 40px; }
                                                        }
.project-header .title h1                               { @extend .header-big; @include reset(spacing); }
.project-header .title p                                { @extend .subhead-small; @include reset(spacing); margin-top: 4px; }
.project-header .description                            { flex-basis: 66.66%; padding-left: 20px; 
                                                            @include mq(below,600px) { flex-basis: 100%; padding: 0; }
                                                        }
.project-header .description p                          { @extend .lede; @include reset(spacing); margin-bottom: 21px;
                                                            @include mq(below,900px) { margin-bottom: 18px; }
                                                            &:last-child { margin-bottom: 0; }
                                                        }




/*=====================================================*/
/* Project Images
/*=====================================================*/

.project-images img                                     { display: block; align-self: center; min-width: 200px; margin-bottom: 40px; } /* min-width prevents weird flexbox+img sizing issues */
.project-images .group                                  { display: flex; margin: 0 -20px; 
                                                            &.is-2 { @include mq(below,600px) { flex-wrap: wrap; } }
                                                            &.is-3 { @include mq(below,800px) { flex-wrap: wrap; } }
                                                        }
.project-images .group img                              { padding: 0 20px 0 20px; }




/*=====================================================*/
/* Project Credits
/*=====================================================*/

.project-credits                                        { display: flex; flex-wrap: wrap; }
.project-credits h4                                     { @extend .subhead; @include reset(spacing); flex-basis: 33.33%; padding-right: 20px; 
                                                            @include mq(below,600px) { flex-basis: 100%; padding: 0; margin-bottom: 40px; }
                                                        }
.project-credits ul                                     { @include reset(list); flex-basis: 66.66%; padding-left: 20px; column-count: 2; 
                                                            @include mq(below,600px) { flex-basis: 100%; padding: 0; }
                                                            li { margin-bottom: 20px; -webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid; }
                                                            h5 { @extend .subhead-small; @include reset(spacing); }
                                                            p { @extend .body; @include reset(spacing); }
                                                        }
                                                        


                                                        
/*=====================================================*/
/* Related Projects
/*=====================================================*/

.related-projects h2                                    { @extend .subhead; @include reset(spacing); margin-bottom: 40px; }
.related-projects .entries                              { display: flex; flex-wrap: wrap; margin: 0 -20px -60px -20px; 
                                                            @include mq(below,600px) { margin-bottom: -40px; }
                                                        }
.related-projects .entries .entry                       { flex-basis: 33.33%; padding: 0 20px 60px 20px; 
                                                            @include mq(below,900px) { flex-basis: 50%; }
                                                            @include mq(below,600px) { flex-basis: 100%; padding-bottom: 40px; }
                                                        }
.related-projects .entries .entry:nth-child(n+3)        { @include mq(below,900px) { display: none; } }
.related-projects .entries .entry h4                    { @include reset(spacing); @extend .header; margin-top: 20px; color: $color-grey; }
.related-projects .entries .entry img                   { transition: .65s ease-in-out; }
.related-projects .entries .entry a                     {
                                                            .no-touch &:hover {
                                                                h4 { text-decoration: underline; color: $color-magenta; }
                                                                img { filter: brightness(105%); }
                                                            }
                                                        }



/*=====================================================*/
/* About
/*=====================================================*/

.about .columns                                         { display: flex; flex-wrap: wrap; margin: 0 -20px -40px -20px; }
.about .columns.is-3 .column                            { flex-basis: 33.33%; padding: 0 20px 40px 20px;
                                                            @include mq(below,800px) { flex-basis: 100%; }
                                                        }
.about .columns.is-4 .column                            { flex-basis: 25%; padding: 0 20px 40px 20px;
                                                            @include mq(below,1200px) { flex-basis: 50%; }
                                                            @include mq(below,600px) { flex-basis: 100%; }
                                                        }
.about .lede                                            { @extend .lede; @include reset(spacing); margin-bottom: 40px; }
.about h2                                               { @extend .header-big; @include reset(spacing); margin-bottom: 40px; }
.about h3                                               { @extend .subhead; @include reset(spacing); margin-bottom: 20px; }
.about h5                                               { @extend .subhead-small; @include reset(spacing); margin-bottom: 5px; }
.about h3 + h5                                          { margin-top: -15px; }
.about p + h5                                           { margin-top: 20px; }
.about p                                                { @extend .body; }
.about p.small                                          { @extend .body-small; @include reset(spacing); }
.about img                                              { margin-bottom: 40px; }

.about p.partners                                       { margin-top: 40px }
.about p.partners strong                                { color: $color-magenta; font-weight: normal; }
.about p.partners a                                     { border-bottom: none; }



/*=====================================================*/
/* News
/*=====================================================*/

.news                                                   { display: flex; flex-wrap: wrap; margin: 0 -20px -60px -20px; }
.news .entry                                            { flex-basis: 33.33%; padding: 0 20px 60px 20px;
                                                            @include mq(below,800px) { flex-basis: 100%; }
                                                        }
.news h3                                                { @extend .header; @include reset(spacing); margin-bottom: 5px; }
.news h5                                                { @extend .subhead-small; @include reset(spacing); margin-bottom: 20px; }
.news p                                                 { @extend .body; }
.news p.small                                           { @extend .body-small; @include reset(spacing); }
.news img                                               { margin-bottom: 40px; }