# ----------------------------------------------------------------------
# Password protect stage
# ----------------------------------------------------------------------

SetEnvIf Host stage.collectiveoffice.com staging
AuthType Basic
AuthName "Under Construction"
AuthUserFile /home/138105/domains/stage.collectiveoffice.com/.htpasswd
Require valid-user
Order allow,deny
Allow from all
Deny from env=staging
Satisfy any


# ----------------------------------------------------------------------
# Craft Default
# ----------------------------------------------------------------------

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Send would-be 404 requests to Craft
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/(favicon\.ico|apple-touch-icon.*\.png)$ [NC]
    RewriteRule (.+) index.php?p=$1 [QSA,L]
</IfModule>
