{% extends "_layout" %}
{% set pageTitle, pageDescription = "404", "Page Not Found" %}

{% block content %}

<div class="main-content is-color-cool-grey">
    
    <div class="section page-title">
        <div class="section-content">
            <header class="title">
                <h2>Page Not Found</h2>
                <p class="metadata">404 Error</p>
            </header>
        </div>
    </div>
    
    <!-- Text -->
    <div class="section text">
        <div class="section-content">
            <div class="rich-text">
                <p class="big">Sorry, we can&rsquo;t find the page you&rsquo;re looking for. The link you clicked may be broken or the page may have been removed.</p>
                <p><a href="/" class="button">Homepage</a></p>
            </div>
        </div>
    </div>
    
</div>
   
{% endblock %}