{% extends "_layout" %}
{% set pageTitle, pageDescription = "404", "Page Not Found" %}

{% block content %}


        <h1 class="hidden">404 Error</h1>
        
        <div class="section">
            <h2 class="header-big">Sorry, we can&rsquo;t find the page you&rsquo;re looking for.</h2>
            <p class="lede">The link you clicked may be broken or the page may have been removed.</p>
            <p class="body"><a href="/">Try our homepage instead&hellip;</a></p>
        </div>
 
   
{% endblock %}